<div class="bg">

</div>
<div style="position:absolute;z-index:1;">
  <div class="row" style="padding: 1rem;margin: 1rem;background-color: rgba(255,255,255,0.4);">
    <div class="col-12">
      <span style="font-weight:bold"> Deluxe room (บ้าน 4 ท่าน) บ้านหลัง 2 ห้องนอน 1 ห้องรับแขก 2 ห้องน้ำ</span>
    </div>
    <div class="col-5" style="padding: 0;">
      <ul style="padding-left: 1.5rem;">
        <li>เครื่องปรับอากาศ</li>
        <li>ทีวี</li>
        <li>ตู้เย็น</li>
        <li>เครื่องทำน้ำอุ่น</li>
        <li>WiFi</li>
      </ul>
    </div>
    <div class="col-7" style="padding: 0;">
      <ul style="padding-left: 1.5rem;">
        <li>มีแค่ 20 หลัง</li>
        <li>ใกล้สถานที่จัดงาน</li>
        <li>2,500 บาท/หลัง/คืน</li>
        <li>เตียงเสริม 400/เตียง/คืน</li>
      </ul>
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <img src="./assets/images/room4/1.jpg" style="width:100%">
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <img src="./assets/images/room4/2.jpg" style="width:100%">
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <img src="./assets/images/room4/3.jpg" style="width:100%">
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <img src="./assets/images/room4/4.jpg" style="width:100%">
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <img src="./assets/images/room4/1.jpg" style="width:100%">
    </div>
    <div class="col-4" style="padding-top:0rem;padding-bottom: 0rem;">
      <button class="btn btn-success" style="margin:0.5rem;" (click)="room4()">จอง</button>
    </div>
  </div>

<hr>
  <div class="row" style="padding: 1rem;margin: 1rem;background-color: rgba(255,255,255,0.4);">
    <div class="col-12">
      <span style="font-weight:bold"> Superior room (ห้อง 2 ท่าน)
        ( เรือนแถว ไล่ระดับ ห้องเรียงชิดติดกัน ตามเนินเขา ) 1 ห้องนอน 1 ห้องน้ำ
      </span>
    </div>
    <div class="col-5" style="padding: 0;padding-bottom: 0rem">
      <ul style="padding-left: 1.5rem;">
        <li>เครื่องปรับอากาศ</li>
        <li>ทีวี</li>
        <li>ตู้เย็น</li>
        <li>เครื่องทำน้ำอุ่น</li>
        <li>โซฟา</li>
      </ul>
    </div>
    <div class="col-7" style="padding-top: 0;padding-bottom: 0rem;padding-right: 0">
      <ul style="padding-left: 1.5rem;">
        <li>เก้าอี้</li>
        <li>WiFi</li>
        <li>มีแค่ 21 ห้อง</li>
        <li>1,100 บาท/หลัง/คืน</li>
        <li>เตียงเสริม 400/เตียง/คืน</li>
      </ul>
    </div>
    <div class="col-4">
      <img src="./assets/images/room4/1.jpg" style="width:100%">
    </div>
    <div class="col-4">
      <img src="./assets/images/room4/2.jpg" style="width:100%">
    </div>
    <div class="col-4">
      <img src="./assets/images/room4/3.jpg" style="width:100%">
    </div>
    <div class="col-4">
      <img src="./assets/images/room4/4.jpg" style="width:100%">
    </div>
    <div class="col-4">
      <img src="./assets/images/room4/1.jpg" style="width:100%">
    </div>
    <div class="col-4">
      <button class="btn btn-success"  style="margin:0.5rem;" (click)="room2()">จอง</button>
    </div>
  </div>

  <!-- <angular-image-viewer [src]="images" [config]="config2" [(index)]="imageIndex"></angular-image-viewer> -->
</div>
