<div class="bg">

</div>
<div style="position:absolute;z-index:1;">
  <div class="row" style="padding: 1rem;margin: 1rem;background-color: rgba(255,255,255,0.4);">
    <div class="col-12">
      <b>กำหนดการวันที่ 29 ตุลาคม 65</b>
    </div>
    <div class="col-12">


      <ul style="padding:0">

        <li>14:09 ตั้งขบวนขันหมาก</li>
        <li>14:29 พิธีแห่ขันหมาก</li>
        <li>15:09 พิธีสู่ขอ</li>
        <li>15:39 พิธีรดน้ำสังข์</li>
        <li>17:30 พิธีฉลองมงคลสมรส (ริมสระน้ำ)</li>
        <li>20.00 After Party (ริมสระน้ำ)</li>
        <p></p>
        <p> *ธีมสีกรม<br>**กำหนดการอาจมีการเปลี่ยนแปลงตามความเหมาะสม</p>
       
      </ul>
    </div>
  </div>

</div>
